{
  "parser": "@babel/eslint-parser",
  // "extends": [
  //   "eslint:recommended",
  //   "plugin:react/recommended",
  //   // 如果同时使用了eslint和prettier发生冲突了，会关闭掉与prettier有冲突的规则，
  //   //也就是使用prettier认为对的规则
  //   "plugin:prettier/recommended"
  // ],
  "globals": {
    "__POWERED_BY_QIANKUN__": false,
    "__webpack_public_path__": true
  },
  "extends": ["airbnb", "prettier", "plugin:react/recommended"],
  "plugins": [
    "prettier", // eslint 会使用pretter的规则对代码格式化
    "react"
  ],
  "env": {
    "es6": true,
    "node": true, //声明node相关的公共api都可以直接用
    "browser": true //声明浏览器相关的公共api都可以直接用 如document,window等无需声明
  },
  "rules": {
    "indent": ["off", 2], //缩进为2
    "no-console": 0, //console.log无需声明
    "prettier/prettier": "error", // 这项配置 对于不符合prettier规范的写法，eslint会提示报错
    "semi": 0, // 行末是否要分号 react中prettier设置了自动格式化加分号因为interface必须使用分号来分割（无语啊如果设置自动格式化去除分号就会有问题）
    "eqeqeq": 2, // 必须全等
    "max-len": 0, //每一行做多80个字符换行
    "no-unreachable": 0, //return之后是否允许出现代码的校验
    "space-before-function-paren": [0, "always"],
    "no-unsafe-optional-chaining": "off",
    "no-unused-expressions": [
      0,
      {
        "allowShortCircuit": true,
        "allowTernary": true
      }
    ],
    "arrow-body-style": [0, "never"],
    "func-names": 0,
    "prefer-const": 0,
    "no-extend-native": 0,
    "no-param-reassign": 0,
    "no-restricted-syntax": 0,
    "no-eval": 0,
    "no-continue": 0,
    "no-unused-vars": [
      0,
      {
        "ignoreRestSiblings": true
      }
    ],
    "no-debugger": 0,
    "no-underscore-dangle": 0,
    "global-require": 0,
    "import/no-extraneous-dependencies": 0,
    "import/prefer-default-export": 0,
    "import/no-unresolved": 0,
    "import/extensions": 0,
    "no-inline-styles": 0,
    // react
    "vars-on-top": 0,
    "no-var": 0,
    "camelcase": 0,
    "no-use-before-define": 0,
    "react/function-component-definition": 0,
    "react/jsx-no-useless-fragment": 0,
    "react/jsx-curly-brace-presence": 0,
    "import/newline-after-import": 0,
    "comma-dangle": 0,
    "react/no-unescaped-entities": 0,
    "react/react-in-jsx-scope": 0,
    "eslint-plugin-react": 0,
    "react/jsx-first-prop-new-line": 0,
    "react/jsx-filename-extension": 0,
    "react/jsx-no-bind": 0,
    "react/no-array-index-key": 0,
    "react/require-default-props": 0,
    "react/forbid-prop-types": 0,
    "react/no-string-refs": 0,
    "react/no-find-dom-node": 0,
    "react/no-danger": 0,
    "react/prop-types": 0,
    "react/display-name": 0,
    "react/no-deprecated": 0,
    "react/no-direct-mutation-state": 0,
    "jsx-a11y/href-no-hash": 0,
    "jsx-a11y/no-static-element-interactions": 0,
    "no-prototype-builtins": 0
  },
  "parserOptions": {
    "sourceType": "module",
    "ecmaVersion": 8,
    "requireConfigFile": false,
    "ecmaFeatures": {
      "jsx": true,
      "experimentalObjectRestSpread": true
    }
  },
  "settings": {
    "import/resolver": "node"
  }
}
